<div class="bg-amber-50 p-4 rounded-lg shadow-md h-full">
    <h2 class="text-xl font-bold mb-4">Zertifikat-Download:</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <div class="bg-white p-4 rounded-lg shadow-md flex flex-col items-center">
        <img src="assets/pdf-icon.png" alt="PDF 2023" class="w-16 h-16 mb-2">
        <p class="text-sm font-semibold">2023 - Benennung</p>
        <button class="bg-green-500 text-white py-1 px-4 rounded-full mt-2">Download</button>
      </div>
      <div class="bg-white p-4 rounded-lg shadow-md flex flex-col items-center">
        <img src="assets/pdf-icon.png" alt="PDF 2022" class="w-16 h-16 mb-2">
        <p class="text-sm font-semibold">2022 - Benennung</p>
        <button class="bg-green-500 text-white py-1 px-4 rounded-full mt-2">Download</button>
      </div>
      <div class="bg-white p-4 rounded-lg shadow-md flex flex-col items-center">
        <img src="assets/pdf-icon.png" alt="PDF 2021" class="w-16 h-16 mb-2">
        <p class="text-sm font-semibold">2021 - Benennung</p>
        <button class="bg-green-500 text-white py-1 px-4 rounded-full mt-2">Download</button>
      </div>
    </div>
  </div>
  