<div class="form-container">
    <div class="form-group">
      <div class="location-container" *ngFor="let location of locations; let i = index">
        <button mat-icon-button class="remove-btn" *ngIf="locations.length > 1 && i === locations.length - 1" (click)="removeLocation(i)">
          <mat-icon>cancel</mat-icon>
        </button>
        <mat-form-field class="location-input">
          <mat-label>Standort</mat-label>
          <input matInput [(ngModel)]="location.name">
        </mat-form-field>
        <div class="radio-group">
          <mat-radio-group [(ngModel)]="location.ownership">
            <mat-radio-button value="Eigentum">Eigentum</mat-radio-button>
            <mat-radio-button value="Miete">Miete</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </div>
    <button mat-icon-button class="add-btn" (click)="addLocation()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  