<section class="p-8 bg-lime-50 rounded-xl shadow-lg my-8">
  <h2 class="text-4xl font-extrabold text-center mb-8">Unsere Berechnung ist zertifiziert</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <div class="bg-white p-6 rounded-xl shadow-lg">
      <h3 class="text-2xl font-bold text-center mb-4">Wir schlüsseln auf</h3>
      <p class="text-center mb-4">Damit Du genau weißt, wie Dein Unternehmen abschneidet, stellen wir Deine Emissionen grafisch dar, sodass Du leicht erkennen kannst, wo Verbesserungsbedarf besteht.</p>
      <a routerLink="/details" class="bg-lime-200 text-black px-4 py-2 rounded-full hover:bg-lime-300">Bringe jetzt Licht ins Dunkel</a>
    </div>
    <div class="bg-white p-6 rounded-xl shadow-lg">
      <h3 class="text-2xl font-bold text-center mb-4">Emissionsvergleich</h3>
      <!-- Graph oder Diagramm hier -->
    </div>
  </div>
</section>
