<div class="bg-amber-50 p-4 rounded-lg shadow-md">
  <h2 class="text-xl font-bold mb-4">Kompensationen:</h2>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <div class="bg-white p-4 rounded-lg shadow-md flex flex-col items-center">
      <img src="assets/icon-check.png" alt="Check Icon" class="w-16 h-16 mb-2">
      <p class="text-sm font-semibold">2023 - Benennung</p>
    </div>
    <div class="bg-white p-4 rounded-lg shadow-md flex flex-col items-center">
      <img src="assets/icon-cross.png" alt="Check Icon" class="w-16 h-16 mb-2">
      <p class="text-sm font-semibold">2022 - Benennung</p>
    </div>
    <div class="bg-white p-4 rounded-lg shadow-md flex flex-col items-center">
      <img src="assets/icon-check.png" alt="Check Icon" class="w-16 h-16 mb-2">
      <p class="text-sm font-semibold">2021 - Benennung</p>
    </div>
  </div>
</div>
