<div class="bg-[#DCE7C7] flex flex-col min-h-screen w-64 p-4">
    <div class="flex items-center justify-center mb-8">
      <img src="assets/logo.png" alt="Logo" class="w-16 h-16">
      <h1 class="ml-4 text-3xl font-bold">LOGO</h1>
    </div>
    <button (click)="startNewCalculation()" class="px-4 py-2 bg-[#4E6629] text-white rounded-full font-semibold shadow-md hover:bg-green-400 focus:outline-none flex items-center space-x-2 mb-8">
      <span>Neue Berechnung starten</span>
    </button>
    <div class="mb-8">
      <h2 class="text-lg font-bold mb-4">Berechnung fortsetzen:</h2>
      <div class="bg-white p-4 rounded-lg shadow-md mb-4">
        <div class="flex items-center mb-2">
          <img src="./assets/play-arrow.png" alt="Play Icon" class="w-6 h-6 mr-2">
          <div>
            <p class="text-sm font-semibold">2024 - Beispiel 1</p>
            <div class="relative w-full h-2 bg-gray-200 rounded-full overflow-hidden">
              <div class="absolute top-0 left-0 h-2 bg-green-500" style="width: 50%"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-white p-4 rounded-lg shadow-md">
        <div class="flex items-center mb-2">
          <img src="assets/play-arrow.png" alt="Play Icon" class="w-6 h-6 mr-2">
          <div>
            <p class="text-sm font-semibold">2023 - Beispiel 2</p>
            <div class="relative w-full h-2 bg-gray-200 rounded-full overflow-hidden">
              <div class="absolute top-0 left-0 h-2 bg-green-500" style="width: 10%"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <h2 class="text-lg font-bold mb-4">Abgeschlossen:</h2>
      <div class="bg-white p-4 rounded-lg shadow-md mb-4">
        <div class="flex items-center">
          <img src="assets/check.png" alt="Check Icon" class="w-6 h-6 mr-2">
          <p class="text-sm font-semibold">2023 - Beispiel 1</p>
        </div>
      </div>
      <div class="bg-white p-4 rounded-lg shadow-md mb-4">
        <div class="flex items-center">
          <img src="assets/check.png" alt="Check Icon" class="w-6 h-6 mr-2">
          <p class="text-sm font-semibold">2023 - Beispiel 2</p>
        </div>
      </div>
      <div class="bg-white p-4 rounded-lg shadow-md">
        <div class="flex items-center">
          <img src="assets/check.png" alt="Check Icon" class="w-6 h-6 mr-2">
          <p class="text-sm font-semibold">2023 - Beispiel 3</p>
        </div>
      </div>
    </div>
  </div>
  